.infoContainer{
    background-color: #1f2021;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.inputContainer{
    display: flex;
    margin-top: 20px;
    justify-content: center;
    gap: 10px;
}
.formContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.inputField,.messageField{
    background-color: #333333 ;
    outline: none;
    border: none;
}
.submitField{
    
    background-color: #383838;
}

@media (max-width:430px) and (min-width:320px) {
    h1{
        margin-left: 50px;
    }
    .inputField{
        width: 170px;
    }
    .messageField{
        width: 340px;
    }
    
}

