:root {
    --color-background: #1f1f1f;
  }


  .Boxparents{
    width: 100%;
    background-color: var(--color-background);
  }


.projetContainer {
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
 
  
  }
  
  .customPagination {
    display: flex;
    justify-content: center;
    margin-top: 20px; 
   color: yellow;
  }
