:root {
    --color-background: #1f1f1f;
  }


  .Boxparents{
    width: 100%;
    background-color: var(--color-background);
  }


.projetContainer {
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
  
  }
  
  .slideContent {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    font-size: 24px;
    font-weight: bold;
    color: #333;
  }
  