.h5{
    font-weight: bold;
    font-size: 13px;
    color: #b31739;
}
.h1{
    font-weight: bold;
    font-size: 23px;
    color: #fff;
}
.presentation{
    background-color: #212525;
    padding: 2.5% 2%;
    width: 100%; 
}
.desc{
    color: #fff;
    font-weight: bold;
    font-size: 12px;
}
.description{
    color: #fff;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
   
    width: 120px;
}
.post{
    color: #fff;
    font-weight: bold;
    font-size: 12px;
    margin-top: 50px;
}

.name{
    color: #fff;
    font-weight: bold;
    font-size: 18px;
}
.num{
    font-weight: bold;
    color: #333333;
    margin: 20px 0px;
    font-size: 12px;
    border: 1px solid #fff;
    border-radius: 50%;
    height: 25px;
    width: 25px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 150px;
    left: 90px;
}
.memberContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.member{
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 1;
    width: 200px;
    margin-left: -80px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    transition: transform 0.2s ease-in-out;
}
.member:hover{
    transform: scale(1.05);
}
.member:nth-child(4){
    margin-top:45px;
    margin-left: -70px;
} 
.member:nth-child(2){
    margin-top:135px;
}
.member:nth-child(3){
    margin-top: 155px;
    margin-left: -60px;
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1; /* S'assure que l'élément superposé est au-dessus des autres */
    pointer-events: none; /* Permet de cliquer à travers cet élément */
}

/* skill */


.langageImg{
    height: 60%;
    width: 60%;
}
  